<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>
    
    <th:block th:include="/common/common-imports::styles"></th:block>
        
</head>
<body>

<div class="container">
	<h1>My Recipes!</h1>
	<table class="table">
	    <tr>
	        <th>ID</th>
	        <th colspan="2">Description</th>	   
	    </tr>
	    <tr th:each="recipe : ${recipes}">
	        <td th:text="${recipe.id}">123</td>
	        <td th:text="${recipe.description}">Tasty Goodnees</td>
	        <th> <a th:href="'/recipe/'+${recipe.id}">View</a></th>
	    </tr>
	</table>
</div>
	
	<th:block th:include="/common/common-imports::scripts"></th:block>
</body>
</html>